---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.inner {
  width: 100%;
  max-width: 100%;
}

section {
  width: 100%;
  max-width: 100%;
}

#header nav {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background: blue;
    margin: 6px auto;
}
